@model MilitarySystem.Web.Models.SquadDetailsViewModel

<div class="row ui-widget-content" id="squads-details-box">
    <div class="col s12 m6">
        <div class="card grey lighten-3">
            <div class="card-image">
                <img src="http://emblemsbf.com/img/30268.jpg" height="300">
                <span class="card-title white-background black-text">@Model.Name</span>
            </div>
            <div class="card-content black-text human-text">
                <strong>Squad Leader </strong><strong class="blue-text">@Model.SquadLeaderName</strong>
                <hr/>
                <strong>Members</strong>
                @foreach(var a in Model.Members)
                {
                    <p class="green-text">@a.FullName</p>
                }
                <hr/>
                <strong>Vehicles</strong>
                @foreach (var a in Model.Vehicles)
                {
                    <p class="red-text">@a.Manufacturer.Name - @a.Model</p>
                }
            </div>
        </div>
    </div>
</div>