@model MilitarySystem.Web.Areas.Administration.Models.PlatoonIndexModel
@{
    ViewBag.Title = "Index";
}

<h2>Platoons</h2>

@foreach (var a in Model.Platoons)
{
    <div class="row">
        <div class="col-md-6">
            <h1>
                @Html.ActionLink(@a.Name, "PlatoonDetails", "PlatoonAdministration", new { id = @a.Id }, new { })
            </h1>

            <img src="@a.ImgUrl" width="250" height="250" />
        </div>
        <div class="col-md-3">
            @foreach (var squad in a.Squads)
            {
                @Html.ActionLink(squad.Name, "SquadDetails", "SquadAdministration", new { id = @squad.Id }, new { })
                <br />
                <img src="@squad.ImgUrl" width="50" height="50" />
                <br />
            }
        </div>
        <div class="col-md-1">

        </div>
    </div>
}
