<li>@Html.ActionLink("Soldiers","Index","Soldier", new { Area = "Administration" }, new { })</li>
<li>@Html.ActionLink("Squads", "Index", "Squad", new { Area = "Administration" }, new { })</li>
<li>@Html.ActionLink("Platoons", "Index", "Platoon", new { Area = "Administration" }, new { })</li>
<li>@Html.ActionLink("Weapons", "Index", "Weapons", new { Area = "Administration" }, new { })</li>
<li>@Html.ActionLink("Gear", "Index", "Gear", new { Area = "Administration" }, new { })</li>
<li>@Html.ActionLink("Armory", "Index", "Armory", new { Area = "Administration" }, new { })</li>

