<li>@Html.ActionLink("Soldiers","Index", "SoldierAdministration", new { Area = "Administration" }, new { })</li>
<li>@Html.ActionLink("Squads", "Index", "SquadAdministration", new { Area = "Administration" }, new { })</li>
<li>@Html.ActionLink("Platoons", "Index", "PlatoonAdministration", new { Area = "Administration" }, new { })</li>
<li>@Html.ActionLink("Vehicles", "Index", "VehicleAdministration", new { Area = "Administration" }, new { })</li>
<li>@Html.ActionLink("Weapons", "Index", "WeaponAdministration", new { Area = "Administration" }, new { })</li>
<li>@Html.ActionLink("Gear", "Index", "GearAdministration", new { Area = "Administration" }, new { })</li>
<li>@Html.ActionLink("Armory", "Index", "ArmoryAdministration", new { Area = "Administration" }, new { })</li>
<li>@Html.ActionLink("Statistics", "Index", "StatisticsAdministration", new { Area = "Administration" }, new { })</li>

