@model MilitarySystem.Web.Areas.Troops.ViewModels.AddMIssionInputModel
<div class="row ui-widget-content" id="mission-add-box">
    <div class="col s12 m12">
        <div class="card grey lighten-5">
            <form id="__AjaxAntiForgeryForm" action="" method="post">
                @Html.AntiForgeryToken()
                <div class="floating-box">
                    @Html.LabelFor(m => m.Info)
                    @Html.TextAreaFor(m => m.Info, new { @cols = "80", @rows = "10", @class = "text-area-messanger black-text", @id = "info-value" })
                </div>
                <div class="floating-box">
                    @Html.LabelFor(m => m.Lat)
                    @Html.TextBoxFor(m => m.Lat, new { @class = "black-text", @id = "lat-value" })
                </div>
                <div class="floating-box">
                    @Html.LabelFor(m => m.Lgn)
                    @Html.TextBoxFor(m => m.Lgn, new { @class = "black-text", @id = "lgn-value" })
                </div>
                <div>
                    @Html.TextBoxFor(m => m.SquadId, new { @name = "SquadId", @class = "hidden", @id = "squadId-value" })
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="send-mission-btn" class="btn waves-effect waves-light blue">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
