@model MilitarySystem.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<hr />

<div class="row">
    <div class="col s12 m6">
        <div class="card grey lighten-4">
            <div class="card-image">
                <img src="http://www.download-free-wallpaper.com/img86/pwhcwpombrjbpnuotuza.png">
                <span class="card-title">Soldier name</span>
            </div>
            <div class="card-content black-text">
                <span class="card-title">Personal Info</span>
                <p>@Model.FullName</p>
                <p>@Model.EnrollmentDate</p>
                <p>@Model.Rank</p>
            </div>
            <div class="card-action">
                <a href="#">@Html.ActionLink("Change your password", "ChangePassword")</a>
            </div>
        </div>
    </div>
</div>
