@model MilitarySystem.Web.Areas.Troops.ViewModels.UserDetailsViewModel

<div class="row ui-widget-content" id="soldier-details-box">
    <div class="col s12 m12">
        <div class="card grey lighten-4">
            <div class="card-image">
                <img src="@Model.ImgUrl">
                <span class="card-title">@Model.FullName</span>
            </div>
            <div class="card-content black-text human-text">
                <span class="card-title">Personal Info</span>
                <div class="row">
                    <div class="col col S6 m6">@Model.FullName</div>
                    <div class="col col S6 m6"><p><img src="@Model.RankImgUrl" alt="Logo of soldier rank" width="50" height="100" /></p></div>
                </div>
                <p><strong>Full name: </strong>@Model.FullName</p>
                <p><strong>Enrolled: </strong>@Model.EnrollmentDate</p>
                <p><strong>Wage: </strong><strong class="green-text">@Model.Wage</strong></p>
                <p><strong>Missions count: </strong><strong class="blue-text">@Model.MissionsCount</strong></p>
            </div>
            <div class="card-action">
                <a href="#">@Html.ActionLink("Change your password", "ChangePassword", "Manage", new { Area = string.Empty }, new { })</a>
            </div>
        </div>
    </div>
</div>